definitions:
  dto.SendOtpRequest:
    properties:
      phone:
        type: string
    type: object
  dto.VerifyOtpRequest:
    properties:
      otp:
        type: string
      phone:
        type: string
    type: object
info:
  contact: {}
paths:
  /auth/send-otp:
    post:
      consumes:
      - application/json
      description: Send OTP to phone number
      parameters:
      - description: Phone number
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.SendOtpRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Send OTP
      tags:
      - Auth
  /auth/verify-otp:
    post:
      consumes:
      - application/json
      description: Verify OTP code
      parameters:
      - description: Verify OTP
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.VerifyOtpRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Verify OTP
      tags:
      - Auth
swagger: "2.0"
